<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.ece492.g9.biolock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/biolock_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.StartUpScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.MainActivity"
            android:label="@+id/mainActivityTitle" >
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.AdminLogin"
            android:label="@+id/adminLoginTitle" >
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.NewLock"
            android:label="@+id/newLock" >
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.Manage"
            android:label="@+id/manageTitle" >
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.Users"
            android:label="@+id/manageUsers" >
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.NewUser"
            android:label="@+id/newUsers" >
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.NewRole"
            android:label="@+id/newRoles" >
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.Roles"
            android:label="@+id/manageRoles" >
        </activity>
        <activity
            android:name="ca.ualberta.ece492.g9.biolock.Log"
            android:label="@+id/manageLog" >
        </activity>
    </application>

</manifest>